<a href="https://colab.research.google.com/github/youwh2002/python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = input("당신의 이름을 입력하시오 >>> ")
a

당신의 이름을 입력하시오 >>> 인천정보

'인천정보'

In [4]:
b = input("당신의 나이>>> ")
b

당신의 나이>>> 18

'18'

In [5]:
type(b)

str

In [9]:
c = int(b)
c, type(c)

(18, int)

In [15]:
year = int(input("출생연도를 입력>>> "))
print("당신은",year,"년에 태어났군요")
age = 2020-year+1
print("당신의 나이는",age,"살 입니다.")

출생연도를 입력>>> 1975
당신은 1975 년에 태어났군요
당신의 나이는 46 살 입니다.

**Format**
 서식지정자

In [17]:
s='a is {}'
s.format("apple")

'a is apple'

In [20]:
a = '%s %d 개 가격은 %.2f 달러'
b = a %('햄버거',2,4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달러
햄버거 2 개 가격은 8.00 달러

In [21]:
a= '%s %d 가격은 %.2f원'
b = a %('치킨',2,40000.0*2)
print(b)

치킨 2 가격은 80000.00원